.container-fluid {
  background-color: rgba(255, 255, 255, 0.8);
}

h1 {
  font-size: 2em;
  font-family: 'Forum', 'Lato', 'Georgia', serif;
  text-decoration: none;
  border: 0px solid lightgrey;
  border-radius: 5px;
  margin: 5% auto;
  white-space: pre-wrap;
}

h2 {
  margin-top: 10%;
  font-family: sans-serif;
}

.card {
  width: 100%;
  margin: 6% auto;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 3px;
}

nav {
  box-shadow: 2px 2px 4px black;
}

nav .c1 {
  background: transparent;
}

.btn-outline-primary {
  opacity: 0.7;
  margin: 5% auto;
  font-size: 10px;
}

p {
  border: 0px solid white;
  border-radius: 1px;
  padding: 2px;
  background-color: ;
  white-space: pre-wrap;
  font-family: sans-serif;
}

.first {
  width: 100px;
  height: 100px;
  background: inherit;
  position: relative;
  -webkit-animation: mymove 15s infinite;
  /* Safari 4.0 - 8.0 */
  animation: mymove 15s infinite;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes mymove {
  from {
    left: 0%;
  }

  to {
    left: 100%;
  }
}

@keyframes mymove {
  from {
    left: 0%;
  }

  to {
    left: 100%;
  }
}


h6 {
  text-align: center;
  font-size: 10px;
}

strong {
  color: #00BCD4;
}

h3 {
  color: initial;
  text-align: center;
  font-family: serif;
  margin: 30px;
}

footer h5 {
	margin: 5% auto;
}

footer {
	border-top: 2px solid grey;
}

footer .connects {
	margin-bottom: 10%;
}

footer .connects span {
	margin: 5%;
}


/* The side navigation menu */
.sidenav {
  height: 100%;
  /* 100% Full-height */
  width: 0;
  /* 0 width - change this with JavaScript */
  position: fixed;
  /* Stay in place */
  z-index: 999;
  /* Stay on top */
  top: 0;
  left: 0;
  background-color: #111;
  /* Black*/
  overflow-x: hidden;
  /* Disable horizontal scroll */
  padding-top: 60px;
  /* Place content 60px from the top */
  transition: 0.5s;
  /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-left .5s;
  padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }

  .sidenav a {
    font-size: 18px;
  }
}